


// THIS IS TREVORS STUFF

@media screen and (min-width: 768px) {
    .user-message {
        font-size: 2.5rem;
    }

    .media-title {
        font-size: 1.25em;
    }

    .media-year { float: none; }

    .media-container:first-of-type { padding-bottom: 0; }

    .media-thumb { height: 165px; }

    footer ul { max-width: none; }
}

@media (min-width: 992px) {
    .display-4 {
        font-size: 3.5rem;
    }

    .thumb-wrapper { 
        max-height: 350px; 
        overflow-x: auto; 
    }
    
    .media-title {
        font-size: 1.75em;
    }

    .media-type { 
        list-style-type: none;
        margin-bottom: 0;
        
        li { 
            padding: 1rem;
            border-bottom: thin solid $dark-bg;
            cursor: pointer;
            display: block;
            width: auto;
            text-align: left;

            span:first-of-type { 
                padding-right: 1rem; 
                font-size: 2rem; 
                color: white;
            }
    
            span:last-of-type { 
                display: inline-block !important;
                text-transform: uppercase;
                font-size: 1.2em;
                position: relative;
                top: -6px;
            }
        }
    
        li:hover span:first-of-type { color: $roku-purple }
    
        li:last-of-type { border-bottom: none; }
    }
}













// OUR STUFF IS UNDERNEATH



//MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE 

@media (max-width: 479px) {

    #logo
    {
        margin-left: 3%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    
    #menuToggle //three span lines
    {
      display: block;
      position: fixed;
      z-index: 1;
      top: 5%;
      right: 5%;
    }
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0; 
      z-index: 2; 
    }
    
    #menuToggle span
    {
      display: block;
      width: 30px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: $pink;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(47deg) translate(2px, -1px);
      background: white;
    }
    
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
    }
    
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-47deg) translate(0, -1px);
    }
        
    #menu
    {
      position: fixed;
      margin: -100px -60px 0 -380px;
      width: 200px;
      padding-top: 75px;
      padding-bottom: 25px;
      background: $blue;
      list-style-type: none;
      //-webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(120%, 0);
      transition: transform 0.7s;
      text-decoration: none;
    }
    
    #menu li
    {
      padding: 15px 15px 10px 0px;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 1.2em;
      color: white;
    }
    
    #menu a
    {
      text-decoration: none;
    }
    
    #menu li a
    {
      text-decoration: none;
    }
    
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }

    // from Allison for sign up/sign in

    #loginButtons
{
text-align: center;
text-transform: uppercase;
font-family: $main-font;
border-color: $blue;
border: 5px;
margin-top: 30px;
}

#loginButtons a
{
text-align: center;
text-transform: uppercase;
font-family: $main-font;
background: #ffffff;
// width: 75px;
padding: 7px 40px 7px 40px;
border-style: solid;
border-radius: 10px;
border-color: $blue;
border-width: 2px;
margin: 15px;
color: #000;
}

#login
{
padding-bottom: 10px;
margin-bottom: 10px;
}

#sign-in
{
margin-top: -30px;
}

#login-mobile 
{
position: absolute;
width: 100%;
z-index: -10;
margin: 0;
padding: 0px;
}

#login-tablet
{
display: none;
}

#login-desktop
{
display: none;
}

#logo
{
width: 40%;
margin: 0 auto;
text-align: center;
margin-left: 30%;
padding-top: 20px;
}

h2 
{
font-family: $cursive;
text-align: center;
font-size: 3em;
color: white;
position: relative;
margin: 0; //got rid of most of the top gap
// padding-top: 10px;
}

h3 //headers on form
{
font-family: $main-font;
text-align: center;
font-size: 1.2em;
color: white;
position: relative;
text-transform: uppercase;
margin: 0; //got rid of most of the top gap
// padding-top: 10px;
margin-top: 20px;
}

p 
{
font-family: $main-font;
width: 75%;
text-align: center;
margin: 0 auto;
color: white;
// text-transform: uppercase;
font-size: 0.9em;
padding: 10px;
}

#signup
{
display: none;
}

#signup-mob
{
text-align: center;
width: 75%;
margin: 0 auto;
}

input[type=text]
{
padding: 10px;
border-radius: 5px;
margin: 10px;
width: 250px;
border-width: 1px;
border-color: $blue;
margin: 0 auto;
// margin-left: 17%;
}

input[type=password]
{
padding: 10px;
border-radius: 5px;
margin: 10px;
width: 250px;
border-width: 1px;
border-color: $blue;
margin: 0 auto;
// margin-left: 17%;
}

input[type=tel]
{
padding: 10px;
border-radius: 5px;
margin: 10px;
width: 250px;
border-width: 1px;
border-color: $blue;
margin: 0 auto;
// margin-left: 17%;
}

input[type=date]
{
padding: 10px;
border-radius: 5px;
margin: 10px;
width: 250px;
border-width: 1px;
border-color: $blue;
margin: 0 auto;
// margin-left: 17%;
}

input[type=email]
{
padding: 10px;
border-radius: 5px;
margin: 10px;
width: 250px;
border-width: 1px;
border-color: $blue;
margin: 0 auto;
// margin-left: 17%;
}

input[type=submit]
{
padding: 10px;
border-radius: 5px;
margin: 10px;
width: 250px;
border-width: 1px;
border-color: $pink;
color: $blue;
text-transform: uppercase;
letter-spacing: 1px;
background-color: $pink;
margin: 0 auto;
}

label
{
font-family: $main-font;
width: 75%;
text-align: left;
margin: 0 auto;
color: white;
// text-transform: uppercase;
font-size: 0.9em;
float: left;
clear: both;
padding-left: 10px;
// margin-left: 55px;
margin-top: 10px;
}

h3 
{
    font-family: $main-font;
}


}
    
    
    
    
    
    
    
    
    // TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET
    
    @media (min-width: 480px) and (max-width: 1024px) {
    
    #logo
    {
        width: 35%;
        margin-top: 2%;
        margin-left: 4%;
        float: left;
        z-index: 1;
    }
    
    #menutoggle
    {
       display: none;
    }
        
    #move 
    {
        clear: both;
        margin-top: 10%;
    }
        
    #checkbox
    {
        display: none;
    }
    
    #menu li
    {
    padding: 5px 10px 0px 10px;
    display: block;
    color: $blue;
    font-weight: lighter;
    text-align: center;
    float: left;
    font-size: 80%;
    font-weight: bold;
    font-size: 1em;
    border-bottom: 5px solid black;
    }
    
    
    #menu
    {
    list-style-type: none;
    z-index: 1;
    text-align: center;
    float: right;
    padding-right: 8%;
    padding-top: 5%;
    }
    
    #menu li:hover
    {
        border-bottom: 5px solid $pink;
    }

    h3 //headers on form
{
font-family: $main-font;
text-align: center;
font-size: 1.2em;
color: white;
position: relative;
text-transform: uppercase;
margin: 0; //got rid of most of the top gap
// padding-top: 10px;
margin-top: 20px;
}
       
    }
    
    
    
    
    
    
    // DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP
    
    
    @media (min-width: 1024px) {
    
    /*NAVIGATION*/
    
    #menutoggle
    {
        display: none;
    }
    
    #logo
    {
        width: 10%;
        margin-top: 2%;
        margin-bottom: 1%;
        margin-left: 3%;
        float: left;
        z-index: 1;
    }
    
    #move 
    {
        clear: both;
        margin-top: 10%;
    }
    
    #checkbox
    {
    display: none;
    }
    
    #menu li
    {
    padding: 5px 5px 0px 5px;
    display: block;
    color: $blue;
    text-align: center;
    float: left;
    font-weight: bold;
    border-bottom: 5px solid black;
    }
    
    #menu
    {
    list-style-type: none;
    z-index: 1;
    text-align: center;
    float: right;
    padding-right: 4%;
    padding-top: 3%;
    padding-bottom: 1%;
    }
    
    #menu li
    {
    padding: 10px;
    display: block;
    color: $blue;
    text-align: center;
    float: left;
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 1em;
    }
    
    #menu li:hover
    {
    border-bottom: 5px solid $pink;
    }

h3 //headers on form
{
font-family: $main-font;
text-align: center;
font-size: 1.2em;
color: white;
position: relative;
text-transform: uppercase;
margin: 0; //got rid of most of the top gap
// padding-top: 10px;
}
    
    }
    
    